* {
  font-family: sans-serif;
}

body {
  background: lightblue;
}

main {
  background: white;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 3rem;
  width: calc(80vw - 6rem);
}

h1 {
  text-align: center;
}

kbd {
  font-family: monospace;
}

button {
  background: lightgreen;
  border: none;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

button.go-home {
  background: blue;
  color: white;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media only screen and (max-width: 500px) {
  main {
    padding: 1.5rem;
    width: calc(95vw - 3rem) !important;
  }
}
