input {
  border: 5px solid blue;
  font-size: 1rem;
}
.wrong,
.wrong:focus {
  border: 5px solid red;
}
.right,
.right:focus {
  border: 5px solid lightgreen;
}

table {
  margin: 0;
  margin-bottom: 1rem;
}

th {
  background: lightgreen;
  padding: 0.3rem;
  border-radius: 0.3rem;
  width: 12vw;
}
