input {
  border: 5px solid blue;
  font-size: 1rem;
}
.wrong, .wrong:focus {
  border: 5px solid red;
}
.right, .right:focus {
  border: 5px solid lightgreen;
}


main {
  width: 60vw;
}


table {
  margin: 0;
}

th {
  background: lightgreen;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

